.main-header
    margin-top: 40px
    padding: 0 60px 136px
    background-color: $yellow

.main-header__logo 
    position: absolute
    top: 0
    height: 40px
    margin-top: 17px
    padding: 2px
    @include link
    @include focus